/*
dark blue: #3C46AD;
light blue: #3F6BB7;
font-family: 'Droid Serif', serif; 
font-family: 'Open Sans', sans-serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.618rem;
    line-height: 1.4;
    text-align: center;
    background-color: #fff;
}

h1 {
    color: #3d9fc4;
    font-family: 'Pacifico', cursive;
    padding-top: 0.75rem;
}

h2 {
    font-family: 'Droid Serif', serif; 
}

li {
    display: inline;
}

li a {
    background-color: #fff;
    color: #3d9fc4;
    border: solid #3d9fc4 2px;
    margin: 0.5rem 1rem;
    padding: 0.75rem;
    display: block;
    text-decoration: none;
}

li a:hover {
    background-color: #3d9fc4;
    color: #fff;
}

.tag-line {
    font-family: 'Droid Serif', serif; 
    background-image: url("../img/masthead.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 1.5rem;
}

main {
    padding: 1rem;
}

img {
    width: 100%;
}

p {
    text-align: left;
}

.value,
.food,
.world,
figcaption {
    padding-bottom: 1rem;
}

input[type=text],
textarea,
input[type=submit] {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.618rem;
    line-height: 1.4;
}

footer {
    background-color: #3d9fc4;
    padding: 0.75rem;
    text-align: center;
}

.company {
    text-align: center;
}

.company-info {
    color: #fff;
    text-align: center;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube {
    color: #fff;
    font-size: 1rem !important;
    padding: 0.25rem 0.25rem 0 0.25rem;
}

@media screen and (min-width: 35rem) and (max-width: 80rem) {
    body {
        font-size: 1rem;
        line-height: 1.5;
    }
    li {
        display: inline;
    }
    li a {
        display: block;
        float: left;
        margin: 0.5rem;
        width: calc(50% - 1rem);
    }
    .tag-line {
        clear: both;
        padding: 2.5rem;
    }
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .value figure {
        float: left;
        padding: 0.5rem 1.5rem 1rem 0;
    }
    .value,
    .food,
    .world {
        padding: 1rem;
    }
    #full-name,
    #email,
    #subject {
        width: 50%;
        float: left;
        margin: -0.5rem;
        font-size: 1rem;
    }
    textarea {
        width: 50%;
        float: right;
        margin: -9.5rem -0.5rem 1rem 0;
        font-size: 1rem;
    }
    input[type=submit] {
        width: 50%;
        margin: -0.5rem;
        float: left;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    footer {
        clear: both;
    }
    .fa-facebook,
    .fa-twitter,
    .fa-instagram,
    .fa-youtube {
        font-size: 1.5rem !important;
        padding: 0.50rem 0.50rem 0 0.50rem;
    }
}

@media screen and (min-width: 80rem) {
    body {
        font-size: 1.618rem;
        line-height: 1.6;
    }
    h1 {
        float: left;
        margin: 0.25rem 1rem 0rem 1.85rem;
        padding: 0rem;
    }
    li {
        display: inline;
    }
    li a {
        display: block;
        float: left;
        margin: 1rem;
        width: calc(20% - 1rem);
    }
    .tag-line {
        clear: both;
        padding: 2.5rem;
    }
    .value figure {
        float: left;
        padding: 1rem 2rem 1rem 0;
    }
    .value,
    .food,
    .world {
        padding: 1rem;
    }
    .food {
        clear: left;
        float: left;
        width: 50%;
        font-size: 1.618rem;
    }
    .world {
        float: right;
        width: 50%;
        font-size: 1.618rem;
    }
    #full-name,
    #email,
    #subject {
        width: 48%;
        float: left;
        margin: 1rem;
        font-size: 1.618rem;
    }
    textarea {
        width: 48%;
        float: right;
        margin: -14.4rem 1rem 1rem 0;
        font-size: 1.618rem;
    }
    input[type=submit] {
        width: 48%;
        float: left;
        margin: 1rem;
        font-size: 1.618rem;
        margin-bottom: 1rem;
    }
    footer {
        clear: both;
    }
    .fa-facebook,
    .fa-twitter,
    .fa-instagram,
    .fa-youtube {
        font-size: 2rem !important;
        padding: 0.75rem 0.75rem 0 0rem;
    }
    .company,
    .company-info,
    .social-media {
        text-align: left;
        padding: 0.5rem;
    }
}