<div class="box">
    <div class="value">
        <h2>The Value of Money</h2>
        <figure> <img src="./img/money.png" alt="description of image" />
            <figcaption>Value of Money</figcaption>
        </figure>
        <p>The time value of money (TVM) is the idea that money available at the present time is worth more than the same amount in the future due to its potential earning capacity. This core principle of finance holds that, provided money can earn interest, any amount of money is worth more the sooner it is received. TVM is also referred to as present discounted value.
            <br> Money deposited in a savings account earns a certain interest rate. Rational investors prefer to receive money today rather than the same amount of money in the future because of money's potential to grow in value over a given period of time. Money earning an interest rate is said to be compounding in value.
            <br> Depending on the exact situation in question, the TVM formula may change slightly. For example, in the case of annuity or perpetuity payments, the generalized formula has additional or less factors. But in general, the most fundamental TVM formula takes into account the following variables:
            <br> The number of compounding periods can have a drastic effect on the TVM calculations. Taking the $10,000 example above, if the number of compounding periods is increased to quarterly, monthly or daily, the ending future value calculations are:
            <br> Source: http://www.investopedia.com/terms/t/timevalueofmoney.asp.</p>
    </div>
    <div class="food">
        <h2>GMO Food</h2>
        <p>GMO's — or genetically modified organisms — refer to the plants or animals created through the gene splicing techniques of biotechnology. In conversation, GMO's and GE foods refer to the same thing. They are foods created by merging DNA from different species.
            <br> Source: http://www.davidsuzuki.org/what-you-can-do/queen-of-green/faqs/food/understanding-gmo/</p>
    </div>
    <div class="world">
        <h2>The View of World in 2100</h2>
        <p>The Internet will be in your contact lens. Imagine blinking, and then instantly going on line, accessing your home office, or home entertainment system anywhere or anytime. We will be able to download any movie, song, Web site, or piece of information off the Internet directly onto our Internet-enabled contact lenses. These lenses will also be able to identify people’s faces, translate their comments and provide subtitles, so that we will always know exactly with whom we are speaking and what they are saying in any language.
            <br> Source: http://nypost.com/2011/03/20/the-world-in-2100/</p>
    </div>
</div>